<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .buton-stile {
    display: inline-block;
    padding: 10px 15px;
    background: #1bf5e6;
    border: 1px solid #000;
    color: #333;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
</style>
<body bgcolor="#47f51b">
    <h2>Напишите id книги которую хотите удалить</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Удалить</button>
            </form>
    <a href="http://127.0.0.1:8000/biblioteka/books/" class="buton-stile">Просмотр всех книг</a>
</body>
</html>